<div class="card-footer">
  <span>
    <!-- tiempo desde creación en palabras -->
    <%= time_ago_in_words(user.created_at) %> ago
  </span>
</div>

<div class="card-footer">
  <b><%= 'sign_in_count'.humanize %>:</b> <%= user.sign_in_count %>
</div>

<div class="row">
  <b><%= 'current_sign_in_at'.humanize %>:</b> <%= user.current_sign_in_at %>
</div>

<div class="row">
  <b><%= 'last_sign_in_at'.humanize %>:</b> <%= user.last_sign_in_at %>
</div>

<div class="row">
  <b><%= 'current_sign_in_ip'.humanize %>:</b> <%= user.current_sign_in_ip %>
</div>

<div class="row">
  <b><%= 'last_sign_in_ip'.humanize %>:</b> <%= user.last_sign_in_ip %>
</div>

<div class="card-footer">
  Confirmed email?
</div>
