<% content_for :title, "Courses" %>








<div class="flex flex-col w-full">
  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl text-center">Courses: <%= @courses.count %></h1>
    <div class="flex space-x-3">
      <%= link_to "Back", root_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
      <%= link_to "New Course", new_course_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    </div>
  </div>

  <div class="w-full">
    <% if @courses.any? %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <% @courses.each do |course| %>
          <div class="card bg-base-100 shadow-sm border border-base-content/5 dark:border-white/10 dark:bg-neutral text-neutral-content">
            <div class="card-body">
            
            <h2 class="card-title text-neutral dark:text-white">
  <%= link_to course.title, course_path(course), class: "hover:underline" %>
</h2>

              <p class="text-xs text-gray-400 mt-2">Created by: <%= course.user %></p>
              <p class="text-xs text-gray-400">Created at: <%= course.created_at.strftime("%b %d, %Y") if course.respond_to?(:created_at) %></p>

              <div class="card-actions justify-end mt-4">
                <%= link_to "Show", course, class: "btn btn-sm bg-gray-100 hover:bg-gray-200 text-black dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white" %>
                <%= link_to "Edit", edit_course_path(course), class: "btn btn-sm bg-yellow-100 hover:bg-yellow-200 text-yellow-800 dark:bg-yellow-700 dark:hover:bg-yellow-600 dark:text-white" %>
                <%= button_to "Destroy", course, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm bg-red-600 hover:bg-red-500 text-white dark:bg-red-700 dark:hover:bg-red-600" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-center my-10 text-gray-600 dark:text-gray-300">No courses found.</p>
    <% end %>
  </div>
</div>
