<% content_for :title, "Courses" %>
<div class="h-screen pt-16 ">







<div class="flex flex-col w-full absolute h-screen scroll">
  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl text-center">Courses: <%= @courses.count %></h1>

    <div class="flex space-x-3">
      <%= link_to "Back", root_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
      <%= link_to "New course", new_course_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    </div>
  </div>

  <% if @courses.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-6">
      <% @courses.each do |course| %>
        <div id="<%= dom_id course %>" class="card bg-base-100 shadow-sm border border-base-content/5 dark:border-white/10 dark:bg-neutral text-neutral-content w-full my-5">
          <div class="card-body space-y-2">
            <!-- Título como enlace -->
            <h2 class="card-title text-neutral dark:text-white">
              <%= link_to course.title, course_path(course), class: "hover:underline" %>
            </h2>

            <!-- Short Description -->
            <p class="text-sm text-gray-500 dark:text-gray-400 italic"><%= course.short_description %></p>

            <!-- Precio -->
            <p class="text-sm text-neutral-content dark:text-gray-200">
              💸 <strong>Price:</strong> <%= number_to_currency(course.price, unit: "$") %>
            </p>

            <!-- Idioma -->
            <p class="text-sm text-neutral-content dark:text-gray-200">
              🌍 <strong>Language:</strong> <%= course.language %>
            </p>

            <!-- Nivel -->
            <p class="text-sm text-neutral-content dark:text-gray-200">
              📘 <strong>Level:</strong> <%= course.level %>
            </p>

            <!-- Metadata -->
            <p class="text-xs text-gray-400">
              👤 Created by: <%= course.user %>
            </p>
            <p class="text-xs text-gray-400">
              🕒 Created at: <%= course.created_at.strftime("%b %d, %Y") if course.respond_to?(:created_at) %>
            </p>

            <!-- Acciones -->
            <div class="card-actions justify-end mt-4">
              <%= link_to "Show", course_path(course), class: "btn btn-sm bg-gray-100 hover:bg-gray-50 text-gray-800" %>
              <%= link_to "Edit", edit_course_path(course) , class: "btn btn-sm bg-yellow-100 hover:bg-yellow-200 text-yellow-800 dark:bg-yellow-700 dark:hover:bg-yellow-600 dark:text-white" %>
              <%= button_to "Destroy", course, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm bg-red-600 hover:bg-red-500 text-white dark:bg-red-700 dark:hover:bg-red-600" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center my-10">No courses found.</p>
  <% end %>
</div>
</div>

